<h3>Quote Script let it rip</h3>

<div>
Mr/Mrs(Client) as a valued Clientele Policy holder,
you will be please to know that you shall receive a “Thank You” from us every month for the next 3 months.
You have the freedom to choose from a wonderful selection of gifts ranging from education vouchers for you and your 
family, travel and entertainment vouchers to use at your leisure, as well as food and fashion vouchers to spoil yourself 
whenever you want.
Mr/Mrs(Client) In order to qualify for this amazing feature, all you need to do is successfully DebiCheck your policy and for this, 
you will be awarded a fantastic free gift each and every month whilst you are a member of Our Clientele Family.
Best of all, YOUR “Clientele Thank You” is at no extra cost to you, therefore, you can rest assured that policy premium remains unaffected. 
Please note that our “Clientèle Thank You” voucher is only awarded to our loyal Policy holders who have successfully DebiChecked their policy. 
The Clientèle Thank you voucher is offered by CBC Rewards (Pty) Ltd, and CBC Rewards may amend terms and conditions or the options offered  
at its sole discretion from time to time. CBC will notify you of these changes
"</div>