@inherits LayoutComponentBase

<style>
    .MainLoginDiv {

        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        width: 50%;
    }

    </Style>
<div class="MainLoginDiv" style="background-color:white; border:none">
    @Body
    </div>



@code {

}